header {
	border-bottom: 1px solid var(--color-divider);
	z-index: 1000;
	background-color: #00000060;
	padding: 30px 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	transition: transform 0.3s ease;
}

header .header-expand {
	display: flex;
	align-items: center;
	gap: 50px;
}

header .header-expand nav {
	flex: 1;
	display: flex;
	justify-content: center;
}

header .header-expand nav ul {
	display: flex;
	align-items: center;
	gap: 40px;
}

header .header-expand nav ul li {
	list-style: none;
}

header .header-expand nav ul li a {
	color: var(--color-light);
	text-decoration: none;
	font-size: 16px;
	font-weight: 500;
	transition: color 0.3s;
}

header .header-expand nav ul li a:hover {
	color: var(--color-primary);
}

header .header-expand .btn-toggle {
	display: none;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	color: var(--color-light);
	border: none;
	background-color: var(--color-primary);
	width: 35px;
	height: 35px;
	border-radius: 7px;
}

header .header-expand .btn-toggle i {
	display: none;
	font-size: 22px;
}

header .header-expand .btn-toggle i.active {
	display: block;
}

header .menu-responsive {
	position: absolute;
	left: 0;
	transition: max-height 0.3s ease-in-out;
	background-color: var(--color-primary);
	width: 100%;
	max-height: 0;
	overflow: hidden;
}

header .menu-responsive ul {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;
	padding: 20px;
}

header .menu-responsive ul li {
	list-style: none;
	width: 100%;
}

header .menu-responsive ul li a {
	text-decoration: none;
	color: var(--color-light);
	font-weight: 400;
	font-size: 16px;
	transition: color 0.3s ease-in-out;
	display: block;
}

header .menu-responsive ul li a:hover {
	color: var(--dark-color-divider);
}

header .menu-responsive.show {
	max-height: 300px;
}

@media (max-width: 992px) {
	header {
		padding: 15px;
	}

	header .header-expand .container-logo {
		flex: 1;
	}

	header .header-expand nav,
	header .header-expand .btn-primary {
		display: none;
	}

	header .header-expand .btn-toggle {
		display: flex;
	}
}

@media (max-width: 768px) {
	header .header-expand .btn-toggle i {
		font-size: 20px;
	}
}